Package: iso-snapshot-antix-dbgsym
Source: iso-snapshot-antix
Version: 0.2.6
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: anticapitalista <anticapitalista@riseup.net>
Installed-Size: 493
Depends: iso-snapshot-antix (= 0.2.6)
Section: debug
Priority: extra
Description: Debug symbols for iso-snapshot-antix
Build-Ids: 72964636faf23855dbbce62bddaa4ef5d0bb26f4
